In [1]:
# import lib
import pandas as pd
import csv as csv

In [2]:
dataset = pd.read_csv(filepath_or_buffer = 'dataset/final_dataset_tarbase.att', sep = '\t')

In [3]:
# get defined type of columns
dataset.dtypes

Score              float64
AlignLen             int64
totalMFE           float64
seedMFE            float64
totalGC              int64
totalAU              int64
totalGU              int64
totalGaps            int64
totalMismatches      int64
seedGC               int64
seedAU               int64
seedGU               int64
seedGaps             int64
seedMismatches       int64
Pos_1                int64
Pos_2                int64
Pos_3                int64
Pos_4                int64
Pos_5                int64
Pos_6                int64
Pos_7                int64
Pos_8                int64
Pos_9                int64
Pos_10               int64
Pos_11               int64
Pos_12               int64
Pos_13               int64
Pos_14               int64
Pos_15               int64
Pos_16               int64
Pos_17               int64
Pos_18               int64
Pos_19               int64
Pos_20               int64
Class               object
dtype: object

In [7]:
# print first ten
dataset.head(10)

,Score,AlignLen,totalMFE,seedMFE,totalGC,totalAU,totalGU,totalGaps,totalMismatches,seedGC,...,Pos_12,Pos_13,Pos_14,Pos_15,Pos_16,Pos_17,Pos_18,Pos_19,Pos_20,Class
0,144.0,21,12.2,-6.5,6,7,1,4,2,3,...,4,4,4,2,5,1,1,3,5,pos
1,142.0,9,11.3,-6.5,3,6,2,0,9,3,...,5,2,5,5,3,5,3,5,5,pos
2,142.0,9,8.3,-6.5,4,7,0,0,9,3,...,5,5,5,5,5,5,2,1,5,pos
3,144.0,21,12.2,-6.5,6,7,1,4,2,3,...,4,4,4,2,5,1,1,3,5,pos
4,142.0,9,8.3,-6.5,4,7,0,0,9,3,...,5,5,5,5,5,5,2,1,5,pos
5,144.0,21,12.2,-6.5,6,7,1,4,2,3,...,4,4,4,2,5,1,1,3,5,pos
6,142.0,9,8.3,-6.5,4,7,0,0,9,3,...,5,5,5,5,5,5,2,1,5,pos
7,154.0,19,7.7,-1.5,6,8,3,1,2,3,...,1,5,2,3,2,4,2,2,1,pos
8,142.0,21,5.5,-1.7,6,5,6,2,1,4,...,1,3,2,3,3,3,5,2,4,pos
9,140.0,21,8.5,-1.7,6,7,3,3,1,4,...,5,2,2,1,3,4,2,2,4,pos

In [5]:
# get negatives cases
negatives = dataset[dataset['Class'] == 'neg']
negatives.head(10)

,Score,AlignLen,totalMFE,seedMFE,totalGC,totalAU,totalGU,totalGaps,totalMismatches,seedGC,...,Pos_12,Pos_13,Pos_14,Pos_15,Pos_16,Pos_17,Pos_18,Pos_19,Pos_20,Class
7100,140.0,7,9.7,-2.3,6,4,2,0,8,4,...,1,5,5,5,5,2,1,5,5,neg
7101,149.0,18,5.9,1.8,4,10,0,1,5,2,...,5,2,4,1,1,5,2,2,5,neg
7102,149.0,18,9.1,1.8,4,10,0,1,5,2,...,5,2,4,1,1,5,2,2,5,neg
7103,152.0,17,9.4,-0.4,4,9,3,1,3,2,...,1,3,4,2,1,2,2,5,5,neg
7104,147.0,21,6.3,-0.4,3,8,2,2,5,2,...,5,3,4,4,2,1,5,3,2,neg
7105,152.0,17,9.4,-0.4,4,9,3,1,3,2,...,1,3,4,2,1,2,2,5,5,neg
7106,147.0,21,6.3,-0.4,3,8,2,2,5,2,...,5,3,4,4,2,1,5,3,2,neg
7107,152.0,17,9.4,-0.4,4,9,3,1,3,2,...,1,3,4,2,1,2,2,5,5,neg
7108,147.0,21,6.3,-0.4,3,8,2,2,5,2,...,5,3,4,4,2,1,5,3,2,neg
7109,147.0,16,11.1,-0.4,3,9,2,1,5,2,...,1,3,2,3,5,2,5,5,5,neg

In [ ]:
# find mirna
result